@import "~ng-zorro-antd/ng-zorro-antd.min";

html,
body {
  height: 100%;
  // background: #435261, #8676b6;
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  display: flex;
  justify-content: center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: #2d6fb1;
}

a:hover {
  color: #1c4670;
}

a:active {
  color: #0f263c;
}
